body
    $dark-color: rgb(39, 20, 31)
    $mid-color: rgb(172, 152, 164)
    $light-color: rgb(239, 239, 255)
    background-color: $dark-color
    color: #efefef
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    #gameover
        color: white
    #grid.grid-class
        display: flex
        flex-wrap: wrap
        margin: 0 auto
        border-radius: 3px
        outline: 5px solid $mid-color
        outline-offset: 4px
        margin-top: 50px
        width: 70vh !important
        height: 70vh !important
    .snake-class
        background-color: $dark-color
        width: 90%
        height: 90%

    .food
        background-color: $mid-color
        width: 75%
        height: 75%
        border-radius: 50%